<p><%= link_to "View All Exhibits", "/exhibits" %></p>
<p><%= link_to "View All Patrons", "/patrons" %></p>

<form action="/patrons/<%= @patron.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit Patron</p>
  <h3>Name:</h3>
  <input type='text' name='patron[name]' value="<%= @patron.name %>"/><br/>
  <h3>Paid? </h3>
  <input type="hidden" name="patron[paid]" value="false">
  <input type='checkbox' name='patron[paid]' value ="true" /><br/>
  <h3>Age:</h3>
  <input type="number" name="patron[age]" value=<%= @patron.age %>> <br>
  <input type='submit' value= 'Update Patron'/>
</form>
