<%= link_to "Update Patron", "/patrons/#{@patron.id}/edit", method: :get %> <br>
<%= link_to "Delete Patron", "/patrons/#{@patron.id}", method: :delete %>
<form action="/patrons" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new Patron:</p>
  <%= label_tag :name %>
  <input type='text' name='patron[name]'/><br/>
  <%= label_tag :paid %>
  <input type="hidden" name="patron[paid]" value="false">
  <input type='checkbox' name='patron[paid]' value ="true"  /><br/>
  <%= label_tag :age %>
  <input type='text' name='patron[age]'/><br/>
  <%= submit_tag 'Create Patron' %>
</form>
