<%= link_to "Update Patron", "/patrons/#{@patron.id}/edit", method: :get %> <br>
<%= link_to "Delete Patron", "/patrons/#{@patron.id}", method: :delete %>
<h1>All Exhibits</h1>
<p><%= link_to "New Exhibit", "/exhibits/new" %><p>
<% @exhibits.each do |exhibit| %>
   <h3><a href="/exhibits/<%= exhibit.id %>"><%= exhibit.name %></a></h3><h3>
     <%= link_to "Edit #{exhibit.name}", "/exhibits/#{exhibit.id}/edit" %>
     <%= link_to "Delete #{exhibit.name}", "/exhibits/#{exhibit.id}", method: :delete %>
     <p> Created at: <%= exhibit.created_at %> </p>
<% end %>
