<%= link_to "Update Patron", "/patrons/#{@patron.id}/edit", method: :get %> <br>
<%= link_to "Delete Patron", "/patrons/#{@patron.id}", method: :delete %>
<h1><%= @exhibit.name %></h1>

<p>Open?: <%= @exhibit.open %></p>
<p>Cost: <%= @exhibit.cost  %></p>
<p>Created At: <%= @exhibit.created_at %></p>
<p>Updated At: <%= @exhibit.updated_at %></p>

<a href="/exhibits/ <%= @exhibit.id %>/edit"> Update Exhibit </a>
<%= link_to "Exhibit Patrons", "/exhibits/#{@exhibit.id}/patrons" %>
<%= button_to "Delete", "/exhibits/#{@exhibit.id}", method: :delete %>
