<a href="/museums">Museum Index</a>

<h1><%= @museum.name %></h1>
<p><%= @museum.open %></p>
<p><%= @museum.cost %></p>
<p><%= @museum.created_at %></p>
<p><%= @museum.updated_at %></p>

<a href="/museums/<%= @museum.id %>/edit">Update Museum</a>

<form action="/museums/<%= @museum.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete museum">
</form>
