<%= link_to "Artifact Index", "/artifacts", method: :get %>
<%= link_to "Museum Index", "/museums", method: :get %>

<h1><%= @artifact.name %></h1>
<p><%= @artifact.rare %></p>
<p><%= @artifact.age %></p>
<p><%= @artifact.created_at %></p>
<p><%= @artifact.updated_at %></p>
<p><%= @artifact.museum_id %></p>

<%= link_to "Update Artifact", "/artifacts/#{@artifact.id}/edit", method: :get %>
<%= link_to "Delete Artifact", "/artifacts/#{@artifact.id}", method: :delete %>
